html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    margin: 0.25em;
}

pre,code,samp{
    background: #eee;
    border: 2px solid #eee;
}
